/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    margin-top: 20px;
}

section ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

section ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #ddddddc2;
}

section p {
    font-size: 1rem;
    color: #ddddddc2;
}

.img-me{
    height: auto;
    width: 200px;
    border-radius: 20px;
    transition: transform 0.4s, box-shadow 0.3s ease-in-out;
    cursor: pointer; /* Cambiar el cursor cuando el mouse pase por encima */
    transform-style: preserve-3d ;
}

.img-me:hover {
    transform: rotateY(20deg) scale(1.1) translateY(-50px); /* Rota, escala y salta */
    width: 250px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Añadir sombra al pasar el ratón */
}


#about {
    background: url('https://itsjulius29.github.io/CVJulioCampos/img/mar.jpg') no-repeat center center/cover;
    /* Usar una imagen o color de fondo */
    height: 1500px;
    max-width: 100%;
    /* Ajusta la altura según necesites */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
}

.about-content {
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro para hacer el texto legible */
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 50%;
}

/* Animación de entrada */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s, transform 0.6s;
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .hover-photo {
        width: 150px; /* Ajustar el tamaño de la foto en pantallas pequeñas */
    }
}

