/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
    position: fixed; /* Fijar el navbar en la parte superior */
    width: 100%;
    height: 50px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block; /* Alineación en fila */
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

h1{
    font-size: 2rem;
    margin-bottom: 30px;
}



#projects {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
}

.project-card {
    display: inline-block;
    width: 45%;
    background-color: #dddddd;
    margin: 20px 2%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0; /* Empezamos con las tarjetas invisibles */
}

.project-card img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.project-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card a {
    text-decoration: none;
    color: #007BFF;
}

.project-card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card a:hover {
    text-decoration: underline;
}

/* Animación de entrada */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s, transform 0.6s;
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}

[data-aos="fade-left"] {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s, transform 0.6s;
}

[data-aos="fade-right"] {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s, transform 0.6s;
}

[data-aos].aos-animate {
    opacity: 1;
    transform: translateX(0) translateY(0); /* Restablecer a la posición original */
}
