/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}


#resume {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.1rem;
}

ul li h3 {
    font-size: 1.3rem;
    margin: 5px 0;
}

ul li p {
    font-size: 1rem;
    color: #555;
}

ul li h3, ul li p {
    margin-bottom: 5px;
}

/* Animación de entrada */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s, transform 0.6s;
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}
