/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
}

/* Estilo para la barra de habilidades */
.skills-bar {
    margin: 20px 0;
    text-align: left;
}

progress {
    width: 100%;
    height: 20px;
    border-radius: 5px;
}

/* Estilo para el botón flotante */
.contact-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-btn:hover {
    background-color: #0056b3;
}


nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}


#resume {
    padding: 50px 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    min-height: 120vh;
    color: #000000;
}

.download-section {
    margin-top: 50px; /* Espacio por encima del enlace */
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.download-section a {
    font-size: 1.2rem;
    color: #007BFF;
    text-decoration: none;
}

.download-section a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 2rem;
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

ul li {
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.1rem;
}

ul li h3 {
    font-size: 1.3rem;
    margin: 5px 0;
}

ul li p {
    font-size: 1rem;
    color: #555;
}

ul li h3, ul li p {
    margin-bottom: 5px;
}

/* Animación de entrada */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s, transform 0.6s;
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}

[data-aos="fade-left"] {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s, transform 0.6s;
}

[data-aos="fade-right"] {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s, transform 0.6s;
}

[data-aos].aos-animate {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

/* Sección de experiencia y educación */
section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}


/* Estilos para la sección de Certificados */
.certificates {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.accordion {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    background-color: #007BFF;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: #0056b3; /* Cambiar color de fondo cuando el ratón pasa */
}

.accordion-body {
    padding: 15px;
    background-color: #f4f4f4;
    display: none; /* Oculto por defecto */
    font-size: 1rem;
    color: #333;
    border-radius: 5px;
}

/* Mostrar el cuerpo cuando se hace clic */
.accordion-item.active .accordion-body {
    display: block;
}
