/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Sección bienvenida */
#welcome-text {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}
